/* ===== REGISTER PAGE ===== */
.register-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: Arial, sans-serif;
}

/* ===== CARD ===== */
.register-card {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* ===== TITLE ===== */
.register-title {
  text-align: center;
  margin-bottom: 20px;
}

/* ===== INPUTS ===== */
.register-card input,
.register-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* ===== BUTTON ===== */
.register-card button {
  width: 100%;
  padding: 10px;
  background-color: #667eea;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-card button:hover {
  background-color: #5563d6;
}

/* ===== TEXT ===== */
.register-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-link {
  color: #667eea;
  font-weight: bold;
  text-decoration: none;
}